<p id="notice"><%= notice %></p>

<h1>Listing Button Clicks</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @button_clicks.each do |button_click| %>
      <tr>
        <td><%= link_to 'Show', button_click %></td>
        <td><%= link_to 'Edit', edit_button_click_path(button_click) %></td>
        <td><%= link_to 'Destroy', button_click, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Button click', new_button_click_path %>
